body {
    background-image: url(../images/burgerBG.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.h1, h1 {
    color: white;
    font-family: 'Sarina', cursive;
    font-size: 42px;
}

.h5, h5 {
    color: rgb(250, 178, 62);
    padding: 10px 15px;
    font-weight: 800;
    text-shadow: 2px 2px 2px black;
}

#header {
    margin-bottom: 50px;
}

li {
    list-style: none;
}

input.newburger {
    width: 300px;
}