body {
    background-image: url(../images/burgerBG.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.h1, h1 {
    color: white;
    font-family: 'Sarina', cursive;
    font-size: 42px;
}

.h5, h5 {
    color: white;
}

#header {
    margin-bottom: 50px;
}

li {
    list-style: none;
}